go 1.20

use (
	./shared
	./acls
	./assets
	./auth
	./files
	./jobs
	./metadata
	./notifications
	./search
	./settings
	./stats
	./transcode
	./users
	./usersnotifications
)

//replace (
//	github.com/imtlab/go-iconik/shared => ./shared
//)
